@import url("https://use.typekit.net/rsw3bla.css");
@import url("https://fonts.cdnfonts.com/css/saira");
@import url("https://fonts.cdnfonts.com/css/saira-condensed");
*,
*::after,
*::before:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:where(body) {
  margin: 0;
}

body {
  background-color: #333333;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar:hover {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: rgb(131, 131, 131);
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6801;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: white;
}

h1,
h2 {
  font-family: "Saira Condensed", sans-serif;
}

h3,
h4 {
  font-family: rubik, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 1.9rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.7rem;
}

h5 {
  font-family: rubik, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 5px;
}

header,
section {
  max-width: 950px;
  margin: auto;
}

@media (max-width: 1000px) {
  header,
section,
nav {
    padding: 10px;
  }
}
nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #333333;
  box-shadow: 0 -5px 10px 5px black;
}
nav .navbar-container {
  max-width: 950px;
  margin: auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-container .navbar-logo {
  width: 100px;
}
nav .navbar-container .navbar {
  display: flex;
  gap: 35px;
  list-style: none;
}
nav .navbar-container .navbar__item {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}
nav .navbar-container .navbar__item:hover {
  transition: all 0.3s ease;
  color: #ff6801;
}
nav .navbar-container .user-buttons__join-button {
  outline: none;
  cursor: pointer;
  background: #ff6801;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 30px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  box-shadow: 0 2px 1px 0 black;
  margin-right: 10px;
}
nav .navbar-container .user-buttons__join-button:hover {
  background-color: #ebebeb;
  color: black;
  border-color: #ff6801;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
nav .navbar-container .user-buttons__join-button:active {
  background: #bfbfbf;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
nav .navbar-container .user-buttons__login-button {
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ff6801;
  font-family: "Saira Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
nav .navbar-container .user-buttons__join-button, nav .navbar-container .user-buttons__login-button {
  border: none;
}

@media (max-width: 768px) {
  nav .navbar-container {
    max-width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  nav .navbar-container .navbar {
    flex-direction: column;
    text-align: left;
    gap: 20px;
    transition: all 0.3s ease;
    position: relative;
  }
  nav .navbar-container .navbar__item {
    font-size: 1rem;
  }
  nav .navbar-container .navbar:not(.closed) {
    margin: 20px 0 20px 0;
  }
  nav .navbar-container .navbar.closed {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  nav .navbar-container .user-buttons {
    transition: all 0.3s;
  }
  nav .navbar-container .user-buttons.closed {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  nav .open-close-navbar {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }
  nav .open-close-navbar.closed .open-close-navbar__button {
    transform: translateY(0) rotate(0);
    box-shadow: 0 10px 0 0 #ff6801;
  }
  nav .open-close-navbar.closed .open-close-navbar__button::after {
    content: "";
    transform: none;
    top: 20px;
  }
  nav .open-close-navbar__button {
    width: 100%;
    height: 5px;
    background-color: #ff6801;
    border-radius: 5px;
    box-shadow: none;
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s ease;
  }
  nav .open-close-navbar__button::after {
    content: "";
    position: absolute;
    background-color: #ff6801;
    transform: rotate(90deg);
    border-radius: 5px;
    width: 100%;
    height: 5px;
  }
}
header {
  height: 250px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  background-image: url(../../images/hero-banner.jpeg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
header .left-elements__title {
  max-width: 200px;
  line-height: 1;
  margin-bottom: 15px;
}
header .left-elements__button {
  width: 100%;
  outline: none;
  cursor: pointer;
  background: #ff6801;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid white;
}
header .left-elements__button:hover {
  background-color: #ebebeb;
  color: black;
  border-color: #ff6801;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
header .left-elements__button:active {
  background: #bfbfbf;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
header .right-elements {
  text-align: right;
}
header .right-elements__subtitle {
  margin-bottom: 5px;
}
header .right-elements__button {
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ff6801;
  padding: 5px 20px;
  border: 1px solid #ff6801;
  border-radius: 5px;
  font-family: rubik, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}
header .right-elements__button:hover {
  background-color: #d75700;
  color: black;
  border-color: transparent;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
header .right-elements__button:active {
  background: #813400;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  header .left-elements {
    padding: 10px;
    width: 100%;
  }
  header .left-elements__title {
    margin-bottom: 5px;
  }
  header .left-elements__button {
    width: 200px;
  }
  header .right-elements {
    padding: 15px;
    width: 100%;
  }
  header .right-elements__title {
    margin-left: auto;
    max-width: 200px;
  }
}
@media (max-width: 568px) {
  header .left-elements__title {
    text-align: left;
    max-width: 100%;
    margin-bottom: 10px;
  }
  header .left-elements__button {
    width: 150px;
    padding: 3px 8px;
  }
  header .right-elements__title {
    margin-left: auto;
    max-width: 200px;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
  }
  header .right-elements__subtitle {
    color: black;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
  }
  header .right-elements__button {
    outline: none;
    cursor: pointer;
    background: #ff6801;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 10px;
  }
  header .right-elements__button:hover {
    background-color: #ebebeb;
    color: black;
    border-color: #ff6801;
    transition: all 0.3s ease;
    transform: translateY(-3px);
    box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
  }
  header .right-elements__button:active {
    background: #bfbfbf;
    transform: translateY(1px);
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 368px) {
  header {
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    padding: 10px;
  }
  header .left-elements {
    order: 1;
  }
  header .left-elements__title {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
    text-align: center;
  }
  header .left-elements__button {
    width: 100%;
  }
  header .right-elements {
    padding: 0;
  }
  header .right-elements__subtitle {
    color: white;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
    margin-bottom: 10px;
  }
  header .right-elements__button {
    padding: 0 30px;
  }
}
.section-more-info {
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  gap: 10px;
}
.section-more-info__bckBtn, .section-more-info__nxtBtn {
  display: none;
}
.section-more-info .info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.section-more-info .info-card__title {
  font-size: 1.1rem;
  line-height: 1;
  margin-bottom: 15px;
}
.section-more-info .info-card__button {
  outline: none;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: rubik, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  width: 100%;
}
.section-more-info .info-card__button:hover {
  background-color: #ebebeb;
  color: black;
  border-color: transparent;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
.section-more-info .info-card__button:active {
  background: #bfbfbf;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .section-more-info {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    padding: 0 20px;
  }
  .section-more-info__bckBtn, .section-more-info__nxtBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    right: 0;
    z-index: 1;
  }
  .section-more-info__bckBtn img, .section-more-info__nxtBtn img {
    width: 40px;
  }
  .section-more-info__bckBtn:first-child, .section-more-info__nxtBtn:first-child {
    transform: translate(0, -50%) scaleX(-1);
    right: auto;
    left: 0;
  }
  .section-more-info__bckBtn:hover, .section-more-info__nxtBtn:hover {
    filter: brightness(1.5);
    transition: all 0.3s ease;
  }
  .section-more-info__bckBtn:active, .section-more-info__nxtBtn:active {
    filter: brightness(0.5);
  }
  .section-more-info .info-card.pos0, .section-more-info .info-card.pos4 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
  }
  .section-more-info .info-card.pos1 {
    order: 0;
    -webkit-animation: animateIn 0.3s ease forwards 1;
            animation: animateIn 0.3s ease forwards 1;
  }
  .section-more-info .info-card.pos2 {
    order: 1;
    -webkit-animation: animateIn1 0.3s ease forwards 1;
            animation: animateIn1 0.3s ease forwards 1;
  }
  .section-more-info .info-card.pos3 {
    order: 2;
    -webkit-animation: animateIn2 0.3s ease forwards 1;
            animation: animateIn2 0.3s ease forwards 1;
  }
  @-webkit-keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
}
@media (max-width: 768px) and (max-width: 568px) {
  .section-more-info .info-card.pos3 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 768px) and (max-width: 368px) {
  .section-more-info .info-card.pos2 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
.section-perks {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-perks__bckBtn, .section-perks__nxtBtn {
  display: none;
}
.section-perks .perk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-perks .perk__icon {
  height: 35px;
  margin-right: 10px;
}
.section-perks .perk__text--bold {
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .section-perks {
    position: relative;
    margin-top: 50px;
    max-width: 600px;
    min-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    justify-content: space-around;
  }
  .section-perks__bckBtn, .section-perks__nxtBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    right: 0;
    z-index: 1;
  }
  .section-perks__bckBtn img, .section-perks__nxtBtn img {
    width: 40px;
  }
  .section-perks__bckBtn:first-child, .section-perks__nxtBtn:first-child {
    transform: translate(0, -50%) scaleX(-1);
    right: auto;
    left: 0;
  }
  .section-perks__bckBtn:hover, .section-perks__nxtBtn:hover {
    filter: brightness(1.5);
    transition: all 0.3s ease;
  }
  .section-perks__bckBtn:active, .section-perks__nxtBtn:active {
    filter: brightness(0.5);
  }
  .section-perks .perk {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .section-perks .perk.pos0, .section-perks .perk.pos4 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
  }
  .section-perks .perk.pos1 {
    order: 0;
    -webkit-animation: animateIn 0.3s ease forwards 1;
            animation: animateIn 0.3s ease forwards 1;
  }
  .section-perks .perk.pos2 {
    order: 1;
    -webkit-animation: animateIn1 0.3s ease forwards 1;
            animation: animateIn1 0.3s ease forwards 1;
  }
  .section-perks .perk.pos3 {
    order: 2;
    -webkit-animation: animateIn2 0.3s ease forwards 1;
            animation: animateIn2 0.3s ease forwards 1;
  }
  @-webkit-keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
}
@media (max-width: 768px) and (max-width: 568px) {
  .section-perks .perk.pos3 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 768px) and (max-width: 368px) {
  .section-perks .perk.pos2 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 768px) {
  .section-perks .perk__icon {
    margin-right: 0;
  }
}
.section-games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}
.section-games .games-container {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px 10px;
}
.section-games .games-container__text {
  margin-top: 10px;
}
.section-games .games-container__subtitle {
  color: #ff6801;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.games-group {
  width: 100%;
  flex: 1;
}
.games-group__title {
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 20px;
  margin-bottom: 15px;
}
.games-group__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}
.games-group__view-more {
  outline: none;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: rubik, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 8px 25px;
  margin-bottom: 30px;
}
.games-group__view-more:hover {
  background-color: #ebebeb;
  color: black;
  border-color: transparent;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
.games-group__view-more:active {
  background: #bfbfbf;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.card {
  height: 160px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card__image-container {
  height: 100%;
  overflow: hidden;
}
.card__card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
.card__card-image:hover {
  transform: scale(1.3);
}
.card__card-title-container {
  height: 60px;
  display: grid;
  place-content: center;
}
.card__card-title {
  line-height: 1.3;
}

.games-group.games-group--purple .games-group__title {
  background-color: #6937e6;
}
.games-group.games-group--purple .card__card-title-container {
  background-color: #6937e6;
}
.games-group.games-group--purple .games-group__view-more {
  border-color: #6937e6;
}

.games-group.games-group--yellow .games-group__title {
  background-color: #effd5f;
}
.games-group.games-group--yellow .card__card-title-container {
  background-color: #effd5f;
}
.games-group.games-group--yellow .games-group__view-more {
  border-color: #effd5f;
}

.games-group.games-group--blue .games-group__title {
  background-color: #0d49f5;
}
.games-group.games-group--blue .card__card-title-container {
  background-color: #0d49f5;
}
.games-group.games-group--blue .games-group__view-more {
  border-color: #0d49f5;
}

.games-group.games-group--orange .games-group__title {
  background-color: #e0773e;
}
.games-group.games-group--orange .card__card-title-container {
  background-color: #e0773e;
}
.games-group.games-group--orange .games-group__view-more {
  border-color: #e0773e;
}

.games-group.games-group--red .games-group__title {
  background-color: #c8302f;
}
.games-group.games-group--red .card__card-title-container {
  background-color: #c8302f;
}
.games-group.games-group--red .games-group__view-more {
  border-color: #c8302f;
}

.games-group.games-group--green .games-group__title {
  background-color: #6fe3a6;
}
.games-group.games-group--green .card__card-title-container {
  background-color: #6fe3a6;
}
.games-group.games-group--green .games-group__view-more {
  border-color: #6fe3a6;
}

.games-group.games-group--green .games-group__title,
.games-group.games-group--yellow .games-group__title {
  color: black;
}
.games-group.games-group--green .card__card-title-container .card__card-title,
.games-group.games-group--yellow .card__card-title-container .card__card-title {
  color: black;
}

@media (max-width: 768px) {
  .section-games {
    gap: 50px;
    margin-top: 40px;
    flex-direction: column;
    max-width: 600px;
  }
  .card {
    min-height: 250px;
  }
  .card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 368px) {
  .card:nth-child(1) {
    -webkit-animation: changeCard 12s 0s infinite;
            animation: changeCard 12s 0s infinite;
  }
  .card:nth-child(2) {
    -webkit-animation: changeCard 12s 4s infinite;
            animation: changeCard 12s 4s infinite;
    position: absolute;
  }
  .card:nth-child(3) {
    display: inherit;
    position: absolute;
    -webkit-animation: changeCard 12s 8s infinite;
            animation: changeCard 12s 8s infinite;
  }
  @-webkit-keyframes changeCard {
    0% {
      z-index: 5;
    }
    33% {
      z-index: 5;
    }
    100% {
      z-index: 1;
    }
  }
  @keyframes changeCard {
    0% {
      z-index: 5;
    }
    33% {
      z-index: 5;
    }
    100% {
      z-index: 1;
    }
  }
}
.testimonials {
  padding: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.testimonials__title {
  margin-bottom: 20px;
}
.testimonials__container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  gap: 10px;
}
.testimonials__container__bckBtn, .testimonials__container__nxtBtn {
  display: none;
}

.testimony {
  margin: 0;
  flex: 1;
  max-width: 200px;
  border: 2px solid black;
  color: white;
  font-family: rubik, sans-serif;
  font-size: 0.7rem;
  line-height: 1.6;
  padding: 40px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.testimony__text {
  text-shadow: 1px 1px 5px black;
  position: relative;
}
.testimony__text::before, .testimony__text::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../images/quote.png);
  background-size: cover;
}
.testimony__text::before {
  top: -25px;
  left: -5px;
}
.testimony__text::after {
  bottom: -20px;
  right: -5px;
  transform: scaleX(-1);
}
.testimony__name {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .section-testimonials .testimonials {
    padding: 0;
  }
  .section-testimonials .testimonials .testimonials__container {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    padding: 0 20px;
    justify-content: space-around;
  }
  .section-testimonials .testimonials .testimonials__container__bckBtn, .section-testimonials .testimonials .testimonials__container__nxtBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    right: 0;
    z-index: 1;
  }
  .section-testimonials .testimonials .testimonials__container__bckBtn img, .section-testimonials .testimonials .testimonials__container__nxtBtn img {
    width: 40px;
  }
  .section-testimonials .testimonials .testimonials__container__bckBtn:first-child, .section-testimonials .testimonials .testimonials__container__nxtBtn:first-child {
    transform: translate(0, -50%) scaleX(-1);
    right: auto;
    left: 0;
  }
  .section-testimonials .testimonials .testimonials__container__bckBtn:hover, .section-testimonials .testimonials .testimonials__container__nxtBtn:hover {
    filter: brightness(1.5);
    transition: all 0.3s ease;
  }
  .section-testimonials .testimonials .testimonials__container__bckBtn:active, .section-testimonials .testimonials .testimonials__container__nxtBtn:active {
    filter: brightness(0.5);
  }
  .section-testimonials .testimonials .testimonials__container .testimony.pos0, .section-testimonials .testimonials .testimonials__container .testimony.pos4 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
  }
  .section-testimonials .testimonials .testimonials__container .testimony.pos1 {
    order: 0;
    -webkit-animation: animateIn 0.3s ease forwards 1;
            animation: animateIn 0.3s ease forwards 1;
  }
  .section-testimonials .testimonials .testimonials__container .testimony.pos2 {
    order: 1;
    -webkit-animation: animateIn1 0.3s ease forwards 1;
            animation: animateIn1 0.3s ease forwards 1;
  }
  .section-testimonials .testimonials .testimonials__container .testimony.pos3 {
    order: 2;
    -webkit-animation: animateIn2 0.3s ease forwards 1;
            animation: animateIn2 0.3s ease forwards 1;
  }
  @-webkit-keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn1 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @-webkit-keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
  @keyframes animateIn2 {
    from {
      transform: scale(0.8);
      filter: opacity(0);
    }
  }
}
@media (max-width: 768px) and (max-width: 568px) {
  .section-testimonials .testimonials .testimonials__container .testimony.pos3 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 768px) and (max-width: 368px) {
  .section-testimonials .testimonials .testimonials__container .testimony.pos2 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    -webkit-animation: none;
            animation: none;
  }
}
footer {
  background-color: white;
  overflow: hidden;
}

.footer-container {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
}

.trusted-exp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.trusted-exp__logo {
  margin: auto;
  max-height: 15px;
}
.trusted-exp__cryptos, .trusted-exp__payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.trusted-exp * img {
  height: 20px;
}

.about-us {
  max-width: 300px;
}
.about-us__text {
  font-family: rubik, sans-serif;
  font-size: 0.7rem;
  line-height: 1.1;
}

.customer-serv__links {
  list-style: none;
  font-family: rubik, sans-serif;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.customer-serv__link#follow-us {
  position: relative;
}
.customer-serv__link#follow-us .social-media {
  position: absolute;
  top: -7px;
  left: 70px;
}
.customer-serv__link#follow-us .social-media:last-child {
  left: 100px;
}
.customer-serv * img {
  height: 25px;
}

.footer-bottom {
  background-color: #ff6801;
  height: 30px;
}
.footer-bottom .footer-bottom__container {
  max-width: 950px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.footer-bottom .footer-bottom__join-instantly {
  outline: none;
  cursor: pointer;
  background: #ff6801;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0 20px;
}
.footer-bottom .footer-bottom__join-instantly:hover {
  background-color: #ebebeb;
  color: black;
  border-color: #ff6801;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.5);
}
.footer-bottom .footer-bottom__join-instantly:active {
  background: #bfbfbf;
  transform: translateY(1px);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.footer-bottom .footer-bottom__text {
  font-family: rubik, sans-serif;
  font-size: 0.6rem;
  color: white;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  .about-us {
    grid-column: 1/3;
    grid-row: 1/1;
    max-width: 100%;
    border-bottom: 1px solid #ff6801;
    padding-bottom: 10px;
  }
  .customer-serv {
    grid-row: 2;
  }
  .footer-bottom {
    height: 100%;
  }
  .footer-bottom .footer-bottom__container {
    max-width: 100%;
    padding: 10px;
  }
  .footer-bottom .footer-bottom__join-instantly {
    padding: 5px 10px;
  }
  .footer-bottom .footer-bottom__text {
    max-width: 50%;
    text-align: right;
  }
}
@media (max-width: 368px) {
  .about-us {
    grid-column: 1;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .customer-serv {
    grid-column: 1;
  }
}/*# sourceMappingURL=index.css.map */