//COLORS
$alternative-font: rubik, sans-serif;
$main-bg-color: #333333;
$sections-bg-color: #1a1a1a;
$highlight-color: #ff6801;
$purple: #6937e6;
$red: #c8302f;
$yellow: #effd5f;
$orange: #e0773e;
$blue: #0d49f5;
$green: #6fe3a6;

//Variables
$max-width-large: 950px;
$saira--condensed: "Saira Condensed", sans-serif;
$saira: "Saira", sans-serif;
$rubik: rubik, sans-serif;
