.section-more-info {
    margin-top: 20px;
    @include flex-justify(space-between);
    gap: 10px;
    &__bckBtn,
    &__nxtBtn {
        display: none;
    }
    .info-card {
        flex: 1;
        background-color: $sections-bg-color;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        height: 100%;

        &__title {
            font-size: 1.1rem;
            line-height: 1;
            margin-bottom: 15px;
        }

        &__button {
            @include button-style(transparent, white, 5px, 0.7rem, $rubik, 400);
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .section-more-info {
        position: relative;
        max-width: 600px;
        overflow: hidden;
        padding: 0 20px;

        &__bckBtn,
        &__nxtBtn {
            @include slider-buttons;
        }

        .info-card {
            @include sliders;
        }
    }
}
