nav {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: $main-bg-color;
    box-shadow: 0 -5px 10px 5px black;

    .navbar-container {
        max-width: $max-width-large;
        margin: auto;
        padding: 8px;

        @include flex-justify(space-between);

        .navbar-logo {
            width: 100px;
        }

        .navbar {
            display: flex;
            gap: 35px;
            list-style: none;

            &__item {
                color: white;
                font-family: $saira--condensed;
                font-weight: 700;
                font-size: 0.8rem;
            }
        }

        .user-buttons {
            &__join-button {
                @include button-style(
                    $highlight-color,
                    white,
                    30px,
                    0.8rem,
                    $saira--condensed,
                    700
                );
                box-shadow: 0 2px 1px 0 black;
                margin-right: 10px;
            }
            &__login-button {
                @include button-style(
                    transparent,
                    $highlight-color,
                    0,
                    0.8rem,
                    $saira--condensed,
                    700
                );
                padding: 0;
            }
            &__join-button,
            &__login-button {
                border: none;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    nav {
        .navbar-container {
            max-width: 100%;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;

            .navbar {
                flex-direction: column;
                text-align: left;
                gap: 20px;
                transition: all 0.5s ease;
                position: relative;

                &__item {
                    font-size: 1rem;
                }
                &:not(.closed) {
                    margin: 20px 0 20px 0;
                }
                &.closed {
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                }
            }
            .user-buttons {
                transition: all 0.3s;
                &.closed {
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                }
            }
        }
        .open-close-navbar {
            width: 30px;
            height: 25px;
            position: absolute;
            top: 30px;
            right: 20px;

            &.closed {
                .open-close-navbar__button {
                    transform: translateY(0) rotate(0);
                    box-shadow: 0 10px 0 0 $highlight-color;
                    &::after {
                        content: "";
                        transform: none;
                        top: 20px;
                    }
                }
            }

            &__button {
                width: 100%;
                height: 5px;
                background-color: $highlight-color;
                border-radius: 5px;
                box-shadow: none;
                transform: translateY(10px) rotate(45deg);
                transition: all 0.3s ease;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: $highlight-color;
                    transform: rotate(90deg);
                    border-radius: 5px;
                    width: 100%;
                    height: 5px;
                }
            }
        }
    }
}
