.btc-widget {
    background-color: rgb(197, 178, 2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    position: relative;
    max-width: $max-width-large;
    width: fit-content;
    font-family: $rubik;
    margin: auto;
    margin-top: 20px;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
    padding: 0 20px 0 0;

    &::before {
        content: "";
        position: absolute;
        height: 55px;
        aspect-ratio: 1;
        background-color: $main-bg-color;
        border-radius: 0 50px 50px 0;
    }

    #btc-logo {
        height: 50px;
        z-index: 1;
    }

    #title {
        margin: 0 10px;
        height: 100%;
        color: black;
    }

    #carousel {
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-left: 10px;

        .carousel-item {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            .iso-price {
                color: black;
            }

            .iso-container {
                padding: 5px;

                .iso-code {
                    font-size: 1.2rem;
                }

                .iso-description {
                    font-size: 0.7rem;
                }
            }
        }

        .pos0 {
            animation: animateIn 0.3s ease forwards 1;
        }

        @keyframes animateIn {
            from {
                transform: scale(0.8);
                filter: opacity(0);
            }
        }

        .pos1,
        .pos2 {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateY(-200%);
        }
    }

    .carousel-buttons {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            outline: none;
            border: none;
            background: none;
            width: 25px;
            height: 25px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:last-child {
                transform: rotateZ(180deg);
            }

            &:hover {
                filter: brightness(1.2);
            }
            &:active {
                filter: brightness(0.5);
            }
        }
    }

    .btc-calculator {
        margin-left: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        select,
        label {
            background-color: #ffffff8f;
            color: #333;
            height: 50%;
            padding: 5px 10px;
            border-radius: 15px 0 0 15px;
            border: none;
            outline: none;
        }
        select {
            border-radius: 0;
            padding:0;
        }
        input {
            height: 50%;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-radius:0;
            width: 60px;
            &:last-child{
                border-radius: 0 15px 15px 0;
                width: 100px;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .btc-widget {
        width: fit-content;
        max-width: 600px;
        .btc-calculator {
            display: none;
        }
    }
    @media (max-width: $breakpoint-phone) {
        .btc-widget {
            max-width: 100%;
            #carousel {
                .carousel-item {
                    .iso-container {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-small-phone) {
        .btc-widget {
            .iso-price {
                font-size: 1rem;
            }
            #title,
            .carousel-buttons {
                display: none;
            }
        }
    }
}
