*,
*::after,
*::before:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg-color;
}
h1,
h2,
h3,
h4 {
    color: white;
}

h1,
h2 {
    font-family: $saira--condensed;
}

h3,
h4 {
    font-family: $rubik;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 1.9rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.7rem;
}

h5 {
    font-family: $rubik;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 5px;
}
header,
section {
    max-width: $max-width-large;
    margin: auto;
}
