*,
*::after,
*::before:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    list-style: none;
}

:where(body) {
    margin: 0;
}

body {
    background-color: $main-bg-color;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar:hover {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: rgb(131, 131, 131);
}

::-webkit-scrollbar-thumb {
    background: $main-bg-color;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $highlight-color;
    border-radius: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    color: white;
}

h1,
h2 {
    font-family: $saira--condensed;
}

h3,
h4 {
    font-family: $rubik;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 1.9rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.7rem;
}

h5 {
    font-family: $rubik;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 5px;
}
header,
section {
    max-width: $max-width-large;
    margin: auto;
}

@media (max-width: 1000px) {
    header,
    section,
    nav {
        padding: 10px;
    }
}
